body {
  margin: 0;
  min-width: 360px;
  max-width: 430px;
}

.intro {
  background-color: #1c2431;
  padding-top: 1em;
  overflow: hidden;
}

nav {
  max-width: 40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2em;
}

nav a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

nav a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

nav .logo {
  width: 90px;
  height: 50px;
}

nav .logo svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: -1.5em;
}

nav .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
  list-style: none;
  color: white;
  margin-right: 2em;
  font-size: 0.9rem;
  font-weight: 200;
}

header .img {
  text-align: center;
  background-color: #1c2431;
}

header .img .hero-img {
  width: 20em;
  position: relative;
  z-index: 1000;
}

header .bg-pattern-desktop {
  display: none;
}

header .bg-pattern-mobile {
  position: relative;
  z-index: 1;
  margin-top: -3em;
  right: 0;
  overflow: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.section1 {
  text-align: center;
  background-color: #181f2a;
  padding: 10em 1em 1em 1em;
  position: relative;
  z-index: 1;
  margin-top: -1em;
  color: white;
}

.section1 .hero-txt {
  text-align: center;
  color: #ffffff;
}

.section1 .hero-txt .txt {
  padding: 0 0.9em 0 0.9em;
  margin-top: -8em;
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 1.3em;
  letter-spacing: 0px;
}

.section1 .hero-txt .txt-content {
  text-align: center;
  padding: 0 1.8em 1em 1.8em;
  font-weight: 100;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.section1 .button {
  text-align: center;
}

.section1 .button .get-started-btn {
  margin-bottom: 0;
  padding: 1em;
  width: 70%;
  border-radius: 30px;
  border: none;
  background: linear-gradient(60deg, #65e2d9, #339ecc);
  margin-bottom: 13em;
  color: #ffffff;
  cursor: pointer;
  font-weight: 900;
  font-size: 0.9rem;
}

.section1 .button .get-started-btn:hover {
  background: linear-gradient(60deg, #65e2d9, rgba(51, 158, 204, 0.5));
}

.section1 #sub-section {
  margin-top: 6.5em;
  margin-bottom: 5em;
}

.section1 #sub-section h2 {
  font-weight: 900;
}

.section1 #sub-section h3 {
  font-weight: 200;
  font-size: 1.1rem;
  padding-left: 1em;
  padding-right: 1em;
}

.section1 .stay-productive-sec img {
  width: 100%;
}

.section1 .stay-productive-txt {
  padding-bottom: 3em;
}

.section1 .stay-productive-txt h3 {
  text-align: left;
  font-weight: 100;
  font-size: 1.1rem;
}

.section1 .stay-productive-txt .how-flyo-works {
  color: #65e2d9;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 9em;
  border-bottom: #65e2d9 1px solid;
}

.section1 .stay-productive-txt .how-flyo-works span a {
  color: #65e2d9;
  font-weight: 100;
  font-size: 0.9rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.section1 .stay-productive-txt .how-flyo-works svg {
  width: 16px;
  height: 16px;
  border: 1px solid #65e2d9;
  -webkit-transform: scale(0.56);
          transform: scale(0.56);
  border-radius: 50%;
  background-color: #65e2d9;
}

.section1 .stay-productive-txt .how-flyo-works svg path {
  fill: #181f2a;
  stroke: #181f2a;
}

.section1 .how-flyo-works:hover {
  color: #ffffff;
  border-bottom: #ffffff 1px solid;
}

.section1 .how-flyo-works:hover span a {
  color: #ffffff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.section1 .how-flyo-works:hover svg {
  border: 1px solid #ffffff;
  -webkit-transform: scale(0.56);
          transform: scale(0.56);
  border-radius: 50%;
  background-color: #ffffff;
}

.section1 .how-flyo-works:hover svg use {
  fill: #ffffff;
}

.section1 .how-flyo-works:hover svg path {
  fill: #181f2a;
  stroke: #181f2a;
}

.section2 {
  margin: 2em;
  position: relative;
  padding-bottom: 12em;
}

.section2 .quote {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  position: absolute;
  top: -3.6%;
  left: -3%;
  z-index: 100000;
}

.section2 .sub-section2 {
  background-color: #202a3c;
  border-radius: 7px;
  margin-bottom: 2em;
}

.section2 .sub-section2 h3 {
  font-weight: 100;
  font-size: 1rem;
  text-align: left;
  padding: 1em;
}

.section2 .sub-section2 .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1em;
  padding-bottom: 1.4em;
  font-weight: 100;
  gap: 1em;
}

.section2 .sub-section2 .profile h4 {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.section2 .sub-section2 .profile h5 {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

.section2 .sub-section2 .profile img {
  border-radius: 50%;
  width: 2em;
}

.section3 {
  margin: 2em;
  background-color: #1c2431;
  text-align: center;
  color: white;
  margin-top: -10em;
  position: relative;
  z-index: 100000;
  padding: 2em 2em 4em 2em;
  border-radius: 7px;
  height: 260px;
}

.section3 h2 {
  margin: 0;
  font-size: 1rem;
}

.section3 h3 {
  font-weight: 100;
  font-size: 0.95rem;
}

.section3 input {
  margin-top: 2em;
  margin-bottom: 0em;
  border-radius: 20px;
  border: none;
  padding: 0.9em;
  width: 90%;
}

.section3 .error-msg {
  display: none;
}

.section3 .show-error-msg {
  margin-top: -4em;
  padding-left: 1em;
  display: block;
  color: #ff4242;
  text-align: left;
  font-size: 1rem;
  text-transform: lowercase;
}

.section3 .wrong-email-msg {
  display: none;
}

.section3 .show-wrong-email-msg {
  display: block;
  margin-top: -4em;
  padding-bottom: 1em;
  padding-left: 0.8em;
  text-align: left;
  color: #ff4242;
  font-size: 1rem;
  text-transform: lowercase;
}

.section3 button {
  margin-top: 2em;
  border-radius: 20px;
  border: none;
  padding: 0.9em;
  width: 100%;
  background: linear-gradient(60deg, rgba(101, 226, 217, 0.5), #339ecc);
  color: #ffffff;
  cursor: pointer;
}

footer {
  background-color: #0b1523;
  color: white;
  padding: 14em 2em 2em 2em;
  margin-top: -15em;
}

footer h2 {
  font-weight: 100;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

footer .contact-info {
  text-align: left;
  padding-top: 1.3em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .contact-info .location-svg {
  height: 17px;
  padding-right: 1em;
}

footer .contact-info svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  padding-right: 0em;
  width: 2em;
}

footer .footer-links {
  padding: 0;
  list-style: none;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 100;
}

footer .footer-links ul {
  list-style: none;
}

footer .footer-links li:hover {
  font-weight: 900;
  cursor: pointer;
}

@media only screen and (min-width: 420px) {
  body {
    margin: 0;
    min-width: 1440px;
    max-width: 100%;
  }
  nav {
    padding: 3.6em 6em 10em 6em;
    max-width: 100%;
  }
  nav .logo svg {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  nav .nav-links ul {
    gap: 2em;
    font-size: 1.08rem;
  }
  header .img {
    text-align: center;
    background-color: #1c2431;
  }
  header .img .hero-img {
    width: 47em;
    position: relative;
    z-index: 1000;
  }
  header .bg-pattern-desktop {
    display: block;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    padding-top: 10em;
  }
  header .bg-pattern-mobile {
    display: none;
  }
  .section1 .hero-txt {
    margin-top: -41em;
  }
  .section1 .hero-txt .txt {
    padding-left: 9em;
    padding-right: 9em;
    font-size: 2.8rem;
  }
  .section1 .hero-txt .txt-content {
    padding-left: 17.5em;
    padding-right: 17.5em;
    font-size: 1.5rem;
  }
  .section1 .button .get-started-btn {
    width: 22em;
  }
  .section1 .desktop-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 28em 28em;
        grid-template-columns: 28em 28em;
    -ms-grid-rows: 20em 20em;
        grid-template-rows: 20em 20em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3em;
            column-gap: 3em;
  }
  .section1 h2 {
    margin: 1em 0 0 0;
  }
  .section1 .sub-section1 {
    margin-top: 2em;
    margin-bottom: 0;
  }
  .section1 .sub-section2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .section1 .stay-productive-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    padding: 5em 4em 5em 8em;
  }
  .section1 .stay-productive-flex .stay-productive-sec .img {
    width: 7em;
    height: 6em;
  }
  .section1 .stay-productive-flex .stay-productive-txt {
    padding-top: 2em;
    padding-left: 2em;
    line-height: 1.7em;
  }
  .section1 .stay-productive-flex .stay-productive-txt h1 {
    width: 9em;
    font-size: 1.4rem;
  }
  .section1 .stay-productive-flex .stay-productive-txt h2 {
    width: 30em;
    padding-right: 5em;
  }
  .section1 .stay-productive-flex .stay-productive-txt .how-flyo-works svg {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-bottom: 4px;
  }
  .section1 .stay-productive-flex .stay-productive-txt .how-flyo-works:hover svg {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2em;
    margin-left: 9em;
    margin-right: 9em;
  }
  .section2 .quote {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: -10%;
    left: 1%;
    z-index: -1;
  }
  .section3 {
    margin: -9em 20em 0 20em;
    padding-left: 9em;
    padding-right: 9em;
    padding-bottom: 4em;
    height: 169px;
  }
  .section3 .input {
    margin: 1em 0 1.6em 0;
    padding-top: 2em;
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.6em;
  }
  .section3 .input input {
    margin: 0;
  }
  .section3 .input button {
    margin: 0;
    width: 16em;
    height: 3em;
    padding: 1em;
    color: #ffffff;
    background: linear-gradient(60deg, #65e2d9, #339ecc);
    cursor: pointer;
  }
  .section3 .input button:hover {
    background: linear-gradient(60deg, rgba(101, 226, 217, 0.5), #339ecc);
  }
  .section3 .error-msg {
    display: none;
  }
  .section3 .show-error-msg {
    padding-bottom: 0;
    padding: 1.3em 0 0 0;
    display: block;
    color: #ff4242;
    text-align: left;
    margin-left: 1em;
  }
  .section3 .wrong-email-msg {
    display: none;
  }
  .section3 .show-wrong-email-msg {
    padding-left: 0.8em;
    margin-top: -2.7em;
    display: block;
    text-align: left;
    color: #ff4242;
  }
  footer {
    padding-bottom: 0;
    padding-left: 5em;
    padding-right: 5em;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 20em 17em;
        grid-template-columns: 1fr 20em 17em;
  }
  footer .logo {
    margin-bottom: 1em;
  }
  footer .footer-txt {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 5em;
            column-gap: 5em;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .footer-txt .contact-info {
    margin: 0;
    padding-top: 0;
  }
  footer .footer-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10em 1fr;
        grid-template-columns: 10em 1fr;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer p {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=main.css.map */
